<ion-view title='<img class="title-image" src="img/logo.png" height="100%"/>' id="page5" class=" ">
 <ion-nav-buttons side="right">
          <a ui-sref="sERVIOS.cATEGORIAS" class="button button-icon button-clear ion-home"></a>
 </ion-nav-buttons>
 
    <ion-content padding="false" style="background: url(img/28b4UemaRnqP4EFkyXeg_fundo.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header">
        <div id="cATEGORIASELECIONADA-button-bar5" class=" button-bar tamanhos">
            <button id="cATEGORIASELECIONADA-button8" style="font-size:12px;" class=" button button-positive  ">REGIÃO</button>
            <button id="cATEGORIASELECIONADA-button9" style="font-size:12px;border-radius:2px 2px 2px 2px;" class=" button button-positive  ">CATEGORIA</button>
            <button id="cATEGORIASELECIONADA-button10" style="font-size:12px;" class=" button button-positive button-small ">PESQUISA</button>
        </div>
        <div class="">
            <img src="img/slg0vDC0ReO1XLEkelvD_titulo-procurando.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 9px;"></div>
        <div class="">
            <img src="img/UT1UU0CET2ODbQLnpHpf_banners.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="cATEGORIASELECIONADA-form3" class="list ">
            <div class="spacer" style="width: 320px; height: 16px;"></div>
            <label class="item item-input" name="pesquisa">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="DIGITE AQUI UMA PESQUISA">
            </label>
            <div class="spacer" style="width: 320px; height: 16px;"></div>
            <ion-item class="item-thumbnail-left item-icon-right positive  " id="cATEGORIASELECIONADA-list-item11" ui-sref="sERVIOS.cLIENTESELECIONADO">
                <img src="img/AT7B61eRViQWjQXV276w_logo-corujas.png">
                <h2positive>PIZZARIA CORUJAS
                    <p>FONE; 3724-0440</p>
                    <i class="icon ion-android-arrow-dropright"></i>
                </h2positive>
            </ion-item>
            <div class="spacer" style="width: 320px; height: 16px;"></div>
            <div class="">
                <img src="img/UT1UU0CET2ODbQLnpHpf_banners.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </form>
    </ion-content>
</ion-view>