<ion-view title="CATEGORIAS" id="page4" class=" ">
    <ion-content padding="false" style="background: url(img/28b4UemaRnqP4EFkyXeg_fundo.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header">
        <div id="cATEGORIAS-button-bar4" class=" button-bar tamanhos">
            <button id="cATEGORIAS-button11" style="font-size:12px;" class=" button button-positive  ">REGIÃO</button>
            <button id="cATEGORIAS-button12" style="font-size:12px;border-radius:2px 2px 2px 2px;" class=" button button-positive  ">CATEGORIA</button>
            <button id="cATEGORIAS-button13" style="font-size:12px;" class=" button button-positive button-small ">PESQUISA</button>
        </div>
        <div class="">
            <img src="img/LlT88TzSOB3PGS7CjsRg_titulo-categorias.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 9px;"></div>
        <div class="">
            <img src="img/UT1UU0CET2ODbQLnpHpf_banners.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="cATEGORIAS-form2" class="list ">
            <div class="spacer" style="width: 320px; height: 16px;"></div>
            <label class="item item-input" name="pesquisa">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="DIGITE AQUI UMA PESQUISA">
            </label>
            <div class="spacer" style="width: 320px; height: 16px;"></div>
            <ion-item class="item-icon-left item-icon-right  " id="cATEGORIAS-list-item6" ui-sref="sERVIOS.cATEGORIASELECIONADA">
                <i class="icon ion-pizza"></i>PIZZARIAS
                <span class="item-note">10</span>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="cATEGORIAS-list-item7">
                <i class="icon ion-android-restaurant"></i>RESTAURANTES
                <span class="item-note">5</span>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="cATEGORIAS-list-item10">
                <i class="icon ion-ios-monitor"></i>INFORMÁTICA
                <span class="item-note">10</span>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="cATEGORIAS-list-item8">
                <i class="icon ion-icecream"></i>SORVETERIAS
                <span class="item-note">5</span>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="cATEGORIAS-list-item9">
                <i class="icon ion-android-bicycle"></i>ESPORTES
                <span class="item-note">10</span>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <div class="">
                <img src="img/UT1UU0CET2ODbQLnpHpf_banners.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </form>
    </ion-content>
</ion-view>