<ion-view title='<img class="title-image" src="img/logo.png" height="100%"/>' id="page6" class=" ">
 <ion-nav-buttons side="right">
          <a ui-sref="sERVIOS.cATEGORIAS" class="button button-icon button-clear ion-home"></a>
 </ion-nav-buttons>
 
    <ion-content padding="false" style="background: url(img/28b4UemaRnqP4EFkyXeg_fundo.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header">
        <div id="cLIENTESELECIONADO-button-bar6" class=" button-bar tamanhos">
            <button id="cLIENTESELECIONADO-button14" style="font-size:12px;" class=" button button-balanced  ">REGIÃO</button>
            <button id="cLIENTESELECIONADO-button15" style="font-size:12px;border-radius:2px 2px 2px 2px;" class=" button button-balanced  ">CATEGORIA</button>
            <button id="cLIENTESELECIONADO-button16" style="font-size:12px;" class=" button button-balanced button-small ">PESQUISA</button>
        </div>
        <div class="">
            <img src="img/arNBDDW3R6Kxj6nSe0r4_titulo-pizzarias.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/NfAVUjlfQNGxFretqoTA_banner-corujas.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body " id="cLIENTESELECIONADO-list-item-container1">
            <p id="cLIENTESELECIONADO-markdown1" style="margin-top:0px;color:#038B03;font-size:20px;" class=" ">CORUJA’S PIZZARIA</p>
        </div>
        <ion-list id="cLIENTESELECIONADO-list2" class=" ">
            <ion-item class="item-divider " id="cLIENTESELECIONADO-list-item-divider1">3724-0440 - 3722-2095</ion-item>
        </ion-list>
        <div class="spacer" style="width: 303px; height: 23px;"></div>
        <div id="cLIENTESELECIONADO-button-bar7" class=" button-bar ">
            <a href="tel:" id="cLIENTESELECIONADO-button17" style="color:#FFFFFF;font-size:15px;border-radius:-10px -10px -10px -10px;" class=" button button-positive  icon-left ion-ios-telephone ">LIGAR</a>
            <a href="mailto:" id="cLIENTESELECIONADO-button18" style="font-size:15px;" class=" button button-positive  icon-left ion-android-mail ">E-MAIL</a>
        </div>
    </ion-content>
</ion-view>