<ion-view title="LOGO LOJAS" id="page1" class=" ">
    <ion-content padding="false" style="background: url(img/28b4UemaRnqP4EFkyXeg_fundo.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header">
        <div id="lOGOLOJAS-button-bar2" class=" button-bar tamanhos">
            <button id="lOGOLOJAS-button5" style="font-size:12px;" class=" button button-positive  ">REGIÃO</button>
            <button id="lOGOLOJAS-button6" style="font-size:12px;border-radius:2px 2px 2px 2px;" class=" button button-positive  ">CATEGORIA</button>
            <button id="lOGOLOJAS-button7" style="font-size:12px;" class=" button button-positive button-small ">PESQUISA</button>
        </div>
        <div class="">
            <img src="img/SS8N6IzlTc2m5ruO7zKw_titulo-regioes.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 16px;"></div>
        <div class="">
            <img src="img/UT1UU0CET2ODbQLnpHpf_banners.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="lOGOLOJAS-form1" class="list ">
            <div class="spacer" style="width: 320px; height: 20px;"></div>
            <label class="item item-select " id="lOGOLOJAS-select1" name="ESTADO">
                <span class="input-label">ESTADO</span>
                <select>
                    <option>ACRE</option>
                    <option>ALAGOAS</option>
                    <option>AMAPÁ</option>
                    <option>AMAZONAS</option>
                    <option>BAHIA</option>
                </select>
            </label>
            <div class="spacer" style="width: 320px; height: 20px;"></div>
            <label class="item item-select " id="lOGOLOJAS-select2" name="CIDADES">
                <span class="input-label">CIDADES</span>
                <select>
                    <option>PORTO ALEGRE</option>
                    <option>SÃO PAULO</option>
                    <option>RIO DE JANEIRO</option>
                    <option>BRASÍLIA</option>
                    <option>BELÉM</option>
                    <option>RORAIMA</option>
                </select>
            </label>
        </form>
        <a ui-sref="sERVIOS.cATEGORIAS" id="lOGOLOJAS-button4" class=" button button-positive  button-block ">PESQUISA</a>
        <div class="spacer" style="width: 320px; height: 20px;"></div>
        <div class="">
            <img src="img/XpVh9DNCTQaEsfxTCs8R_banners.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>